*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}
html, body {
    overflow: hidden;
}

body{
    background-color: rgb(38, 50, 88);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fff;
    padding: 15px 17px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(1, 1, 1, 0.3);
    height: 280px;
    transition: height 0.3s ease;
}
.container.active{
    height: 540px;
}



.container h1{
    margin-bottom: 10px;
    color: #3a3a3a;
}
.container p{
    color: rgb(65, 65, 65);
}
.form{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.form input{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.form button{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    color: #fff;
    font-size: 18px;
    transition: transform 0.3s ease;
}
.form button:hover{
    cursor: pointer;
    transform: scale(1.04);
    
}
.qr{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border: 1px solid #999;
    border-radius: 0 0 10px 10px;
    pointer-events: none;
    opacity: 0;
    
}
.container.active .qr{
    opacity: 1;
    transition: opacity 0.5s 0.1s ease;
    pointer-events: auto;
}
.qr img{
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.toast{
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    transform: translateX(calc(100% + 30px));
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}
.toast.active{
    opacity: 1;
    transform: translateX(0%);
}
.toastContent{
    display: flex;
    align-items: center;
   
}
.toastContent .error{
    margin-right: 20px;
    background-color: rgb(255, 196, 0);
    border-radius: 20%;
    padding: 10px;
    color: #fff;
}
.toastContent .close{
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 50%;
}
.toastContent .close:hover{
    background-color: #dddddd;
}
.message{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.text1{
    font-size: 18px;
    font-weight: 600;
}
